*,
*:before,
*:after {
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  color: black;
  background-color: white;
  position: sticky;
  left: 0;
  top: 0;
  margin: 0;
}
.header_logo {
  width: 8%;
  margin-right: 150px;
}
.header_nav_item {
  display: flex;
  justify-content: flex-end;
}
.header_nav_list:not(:last-child) {
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.top-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .header_nav_item {
    display: none;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    right: 20px;
    top: 0;
    z-index: 10;
  }
  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu-line-top {
    top: 0;
  }
  .menu-line-middle {
    top: 14px;
  }
  .menu-line-bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .top-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: 0.7s;
  }

  .top-nav-item {
    padding-top: 50px;
    text-align: center;
  }

  .top-nav-list {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }

  .in {
    transform: translateX(100%);
  }
}
.top {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center;
  background-size: cover;
  color: white;
}
.top_message {
  font-size: 30px;
  font-weight: bold;
}
.company {
  margin: 10% auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.company_content {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #000;
}
.company_name,
.company_info {
  padding: 20px 20px;
  border-bottom: 1px solid #000;
}
.company_name {
  font-size: 15px;
  font-weight: bold;
  width: 30%;
}
.company_info {
  font-size: 15px;
  width: 70%;
}
.responce {
  height: 50vh;
  background-color: rgb(241, 240, 240);
  margin: 0 auto;
}
.responce_form {
  text-align: center;
  padding-top: 10%;
}
.responce_message {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3%;
}
.responce_content {
  font-size: 15px;
  color: black;
}
.responce_btn {
  display: block;
  text-align: center;
  width: 300px;
  padding: 15px;
  background-color: rgb(224, 10, 10);
  color: white;
  margin: 50px auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: beige;
  background-color: black;
}
.footer_logo {
  width: 20%;
  font-size: 10px;
}
.footer_nav_item {
  display: flex;
}
.footer_nav_list {
  color: beige;
  font-size: 10px;
}
.footer_nav_list:not(:last-child) {
  margin-right: 10px;
}
.footer_nav_list::after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}
a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
  }
  .card img {
    width: 100%;
  }
  .card_content {
    margin-top: 5%;
    margin-left: 0;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 33vh;
    color: beige;
    background-color: black;
    width: 100%;
  }
  .footer_logo {
    width: 30%;
    font-size: 15px;
  }
  .footer_nav_item {
    display: block;
    text-align: center;
  }
  .footer_nav_list {
    color: beige;
    font-size: 15px;
    padding: 10px;
  }
  .footer_nav_list::after {
    display: none;
  }
}
